@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 44px 0 144px 76px;
    text-transform: uppercase;
}


.link-header{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
    margin-right: 23px;
}

.button-header{
    background-color: #665aE1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    color: #fffffe;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    cursor: pointer;
}

.logo-image{
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

section{
    display: inline-block;
    margin-left: 86px;
}

h1{
    font-size: 100px;
    font-weight: 900;
    line-height: 122px;
    color:#515151;
}

h2{
    font-size: 58px;
    font-weight: 500;
    line-height: 71px;
    color: #515151;
}

p{
    color: #848484;
    font-weight: 400;
    font-size: 24px;
    width: 515px;
    margin: 32px 0 65px 0;
    text-align: justify;

}

.main-button{
       width: 239px;
       height: 64px;
       border-radius: 50px;
       background-color: #ADFF00;
       font-weight: 700;
       font-size: 28px;
       text-transform: uppercase;
       line-height: 100%;
       border: none;
       /* box-shadow: 2px 2px 2px rgb(31, 31, 31); */
       filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
       cursor: pointer;
}

@media screen and (max-width: 900px){
    *{
        margin: 0;
        padding: 0;
    }

    body{
        width: 100vw;
    }
    
    header{
        display: none;
    }

    .logo-image{
        width: 90%;
        height: 100%;
        margin: 20% auto;
    }

    section{
        margin: 0;
    }

    main{
        display: block;
        text-align: center;
        margin: 0 auto;
        }

    h1{
        font-size: 48px;
        margin: 0 auto;
        line-height: 0;
    }

    h2{
        font-size: 32px;
        margin: 0 auto;
    }

    p{
       display: none;
    }
}
